#navbar{
    height:70px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(178, 178, 178);
}
#menu{
    font-size: 30px;
}
#login-btn{
    background-color: rgb(37, 106, 255);
    padding: 15px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
}