#sidebar{
    width: 200px;
    border-right: 1px solid rgb(200, 189, 189);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}
#sidebar a{
    padding: 20px;
    text-decoration: none;
}
#sidebar a:hover{
    background-color: white;
}